.ui-service-box {
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 5px;
  border-radius: 50%;
  //opacity: 0.8;
  //background: #cccccc;
  .ui-service-box-level1 {
    border: 2px solid #cccccc;
    padding: 2px;
    border-radius: 50%;
    align-items: center;
    background: #0a93f3;
    .ui-service-content {
      display: flex;
      width: 100px;
      height: 100px;
      align-items: center;
      //left: 50%;
      justify-content: center;

      > div {
        //opacity: 0.8;
        width: 100%;
        text-align: center;
        color: #ffffff;
        img {
          max-width: 60px;
          max-height: 60px;
        }
      }
    }
  }
}