.copy-icon {
  margin-left: 3px;
  &.is-box {
    padding: 0 10px;
    height: 30px;
    margin-left: 2px;
    border: 1px solid #d4d4d4;
    text-align: center;
    line-height: 28px;
    top: 0;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
  }

  &:hover {
    cursor: pointer;
  }
}
