.ui-sub-page-header {

  .contact-img {
    &:before {
      opacity: 0.2 !important;
    }
  }

  h1 {
    color: #ffffff;
    font-size: 40px;
    max-width: 1200px;
    margin: 0 auto;
    font-weight: 300;
    text-align: left;
    padding-top: 30px;
    span {
      border-bottom: 2px solid #ffffff;
    }
  }
}