$primary-color: #1890ff;
$main-content-bg-color: #f4f8fb;
$main-menu-color: #ffffff;
$body-bg-color: #ffffff;
$dark-color: #262626;
$white: #ffffff;
$default-border-highlight: #ffffff;
$active-background-color: #ffffff;
$body-font-family: 'Open Sans', "intercom-font", "Helvetica Neue", Helvetica, Arial, sans-serif;

